* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gotham-Rounded-Book';
}
.header {
    height: 50px;
    width: 100%px;
    background-color: black;
    color: white;
    align-items: center;
    margin: 0px 25%;
    display: flex;
    padding: 0px 15px;
}
.title {
    text-align: center;
    margin: 20px 0px;
}
.main {
    display: flex;
    justify-content: center;
}
.person {
    height: 175px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
}
.person img {
    width: 75px;
}
.container {
    height: 100px;
    width: 350px;
    border: 2px solid black;
    padding: 15px 15px;
    margin-bottom: 30px;
}
.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    font-weight: bold;
}
#number , #number2 , #number3 {
    margin-left: 75px;
}
button {
    background-color: rgb(255,217,102);
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px;
    width: 50px;
}
p {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}